.homeback img{
  width: 100vw;
  height: 100vh;
}
@media (max-width: 920px) {
  .homeback img{
    width: 100vw;
    height: 70vh;
  }
}
@media (max-width: 450px) {
  .homeback img{
    width: 100vw;
    height: 50vh;
  }
}